<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#demo").click(function(){
        console.log("hello");
        $.get( "/data", function( data ) {
          var cat = data.categories
          for (i = 0; i < cat.length; i++)
          {
            var item = cat[i];
            $( "body" ).append( "Name: " + item.categoryID );
  $( "body" ).append( "Name: " + item.parentID );
            
          }
 
    
}, "json" );
    });
});
  </script>

</head>

<body>

 <input id = 'demo' type = "button" value = "click me!">
 

</body>
</html>
