<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
  <div style="color:#0000FF">
  $(document).ready(function(){
    $("#demo").click(function(){
        
        $.get( "/data", function( data ) {
          var cat = data.categories
          for (i = 0; i < cat.length; i++)
          {
            var item = cat[i];
            
            $( "body" ).append( "categoryID: " + item.categoryID + "<br>"); 
  $( "body" ).append( "parentID: " + item.parentID + "<br>");
            
            
          }
 
    
}, "json" );
    });
});
</div>
  </script>

</head>

<body>

 <input id = 'demo' type = "button" value = "click me!"> <br>
 

</body>
</html>
